* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

.wrapper:last-child {
    justify-content: end;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.title {
    font-size: 40px;
    font-weight: 800;
}

.btn {
    background: none;
    border: 2px solid #ffc130;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #ffc130;
    transition: 0.25s;
    cursor: pointer;
}

.btn:hover {
    border-color: #e2e798;
    color: #e2e798;
    box-shadow: 0 0.5em 0.5em -0.4em #74bae8;
    transform: translateY(-0.25em);
}

.open-sources {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sources {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    height: 136px;
}

.sources_open {
    height: min-content;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 100px;
    margin-top: auto;
    padding: 10px 0 10px 0;
}

.footer__github {
    display: flex;
    width: 130px;
    height: 130px;
    text-decoration: none;
    font-size: 40px;
    transition: color 0.3s;
}

.footer__github_icon {
    display: flex;
    width: 120px;
    height: 120px;
    background-image: url('./assets/github-icons/github-mark-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    border-radius: 50%;
}

.footer__github_icon:hover {
    transition: all 0.2s;
    transform: scale(1.1);
}

.footer__year {
    font-size: 20px;
    cursor: default;
    user-select: none;
}

.footer__school_icon {
    display: flex;
    width: 120px;
    height: 120px;
    background-image: url('./assets/rss-logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px;
}

.footer__school_icon:hover {
    transition: all 0.2s;
    transform: scale(1.1);
}
