* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 100px;
    padding: 10px 0 10px 0;
}

.footer__github {
    display: flex;
    width: 130px;
    height: 130px;
    text-decoration: none;
    font-size: 40px;
    transition: color 0.3s;
}

.footer__github_icon {
    display: flex;
    width: 120px;
    height: 120px;
    background-image: url('./assets/github-icons/github-mark-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    border-radius: 50%;
}

.footer__github_icon:hover {
    transition: all 0.2s;
    transform: scale(1.1);
}

.footer__year {
    font-size: 20px;
    cursor: default;
    user-select: none;
}

.footer__school_icon {
    display: flex;
    width: 120px;
    height: 120px;
    background-image: url('./assets/rss-logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px;
}

.footer__school_icon:hover {
    transition: all 0.2s;
    transform: scale(1.1);
}
