$bg-btn-manage: #fff172

.table__results
  overflow: auto
  margin: 0 auto
  width: 80%

.table__results table
  color: $bg-btn-manage
  height: 100%
  width: 100%
  table-layout: fixed
  border-collapse: collapse
  border-spacing: 1px
  text-align: left

.table__results caption
  caption-side: top
  text-align: center
  margin: 30px 0
  font-size: 20px
  font-weight: 600
  cursor: default

.table__results thead
  background-color: #ffc720

.table__results th
  border-bottom: 1px solid #8cc0ff
  color: #000000
  padding: 5px
  cursor: default

.table__results td
  padding: 5px

.table__results tr:nth-child(even) td
  background-color: #e0f9ff
  color: #000000

.sortable
  cursor: pointer
  color: blue
  transition: 0.3s

.sortable:hover
  text-decoration: underline
  color: #458627
  cursor: pointer
