h1,h2, h3,h4,h5,h6
  margin: 0

*
  margin: 0
  padding: 0

p
  margin: 0

@font-face
  font-family: "Allura"
  src: url("../assets/fonts/Allura-Regular.ttf")
  font-weight: regular
  font-style: normal

@font-face
  font-family: "Montserrat"
  src: url("../assets/fonts/Montserrat-Regular.ttf")
  font-weight: regular
  font-style: normal

@font-face
  font-family: "Montserrat"
  src: url("../assets/fonts/Montserrat-SemiBold.ttf")
  font-weight: 600
  font-style: normal

$primary: #FF4646
$primary-10: rgba(255, 70, 70, 0.1)
$dark: #181C29
$static-white: rgba(255, 255, 255, 1)
$static-white-20: rgba(255, 255, 255, 0.2)
$static-white-40: rgba(255, 255, 255, 0.4)
$tag-green: #06A44F
$tag-purple: #4361FF
$tag-pink: #FF43F7
$content-background: #ECF3F8

@mixin header-1
  font-family: Montserrat
  font-size: 32px
  font-weight: 600
  line-height: 150%
  letter-spacing: 0.18em
  text-transform: uppercase

@mixin header-2
  font-family: Montserrat
  font-size: 24px
  font-weight: 600
  line-height: 152%
  letter-spacing: 0.16em
  text-transform: uppercase

@mixin header-3
  font-family: Montserrat
  font-size: 16px
  font-weight: 600
  line-height: 152%
  letter-spacing: 0.08em
  text-transform: uppercase

@mixin header-4
  font-family: Montserrat
  font-size: 12px
  font-weight: 600
  line-height: 130%
  letter-spacing: 0.05em
  text-transform: uppercase

@mixin paragraph
  font-family: Montserrat
  font-size: 16px
  font-weight: 400
  line-height: 148%

@mixin action-large
  font-family: Montserrat
  font-size: 24px
  font-weight: 600
  line-height: 152%
  letter-spacing: 0.16em
  text-transform: uppercase

@mixin action-small
  font-family: Montserrat
  font-size: 12px
  font-weight: 600
  line-height: 130%
  letter-spacing: 0.05em
  text-transform: uppercase

@mixin caption
  font-family: Allura
  font-size: 24px
  font-weight: 400
  line-height: 100%
  letter-spacing: 0.05em

@mixin slider-text
  font-family: Montserrat
  font-size: 80px
  font-weight: 600
  text-transform: uppercase

.header
  display: flex
  justify-content: center
  padding: 0px 8px
  width: 1440px
  height: 64px
  background: $static-white
  &__container
    display: flex
    justify-content: space-between
    min-width: 1276px
    padding: 12px 0px
  &__nav
    display: flex

.logo
  display: flex
  border-radius: 12px
  padding: 8px 20px
  min-width: 140px
  height: 40px
  text-decoration: none
  &__image
    margin-right: 8px
  &__text
    @include action-small
    color: $dark
    display: flex
    align-items: center

.nav-menu
  display: flex
  justify-content: center
  align-items: center
  &__item
    display: flex
    justify-content: center
    border-radius: 12px
    // padding: 12px 20px
    // width: 78px
    height: 40px
    list-style: none
    margin-right: 8px
    transition: all 0.2s
    &:hover
      background: $primary-10
      cursor: pointer
    &:last-child
      margin-right: 0px
  &__link
    @include action-small
    color: $dark
    text-decoration: none
    // border-radius: 12px
    padding: 12px 20px
    transition: all 0.2s
    &:hover
      color: $primary

.hero
  display: flex
  justify-content: center
  align-items: center
  border-radius: 20px 20px 0 0
  padding: 60px 8px
  width: 1440px
  height: 524px
  background-image: url('../assets/images/bg-ball.png'), url('../assets/images/bg-snow.png')
  background-position: center
  background-size: cover
  background-color: $primary
  &__container
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 60px 0px
    height: 404px
    max-width: 426px
  &__text
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    color: $static-white

.caption
  @include caption

.header-1
  @include header-1

.button
  display: flex
  align-items: center
  justify-content: center

.btn
  display: inline-flex
  align-items: center
  justify-content: center
  border-radius: 20px
  padding: 20px 32px
  width: 235px
  height: 56px
  background-color: $dark
  @include action-small
  text-align: center
  white-space: nowrap
  color: $static-white
  text-decoration: none
