.bg-game {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: -100;
  opacity: 0.7;
  background-image: url("../../assets/images/background-fortune.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}
