.chat {
  display: flex;
  background-color: #dae3f3;
  gap: 10px;
  border-radius: 10px;
  flex-basis: 400px;
  padding: 10px;
  align-items: stretch; }
  .chat__sidebar {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    margin: 0;
    height: 100%;
    max-height: 400px; }
  .chat__search {
    position: relative;
    outline: none;
    border: transparent 1px solid;
    padding: 10px;
    width: 100%;
    max-width: calc(100% - 15px);
    display: block;
    border-radius: 10px;
    margin-right: 10px; }
    .chat__search:focus {
      box-shadow: 0px 5px 20px 5px rgba(34, 60, 80, 0.2); }
  .chat__list-person {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    max-height: 350px; }

.item-person {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  border: 1px #BEDADA solid;
  border-radius: 10px;
  padding: 10px;
  color: var(--color-body-dark);
  cursor: pointer;
  min-width: 200px;
  transition: background-color 0.3s ease; }
  .item-person__status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-radius: 50%; }
  .item-person:hover {
    background-color: #BEDADA; }
  .item-person .online {
    background-color: #44da2e; }
  .item-person .offline {
    background-color: #da312e; }

.dialog {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #d5fffe;
  border-radius: 7px;
  gap: 10px;
  padding: 10px;
  height: 100%;
  overflow-y: auto; }
  .dialog__info {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
    cursor: default;
    user-select: none; }
  .dialog__message-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 400px;
    flex-grow: 1;
    max-height: 300px;
    justify-content: end; }

.message-box {
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 3px;
  overflow: auto;
  max-height: 300px;
  margin-top: auto; }

.message {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #c5b7fe;
  padding: 5px;
  border-radius: 5px;
  color: var(--color-body-dark); }
  .message_private {
    margin-left: auto;
    border-radius: 5px;
    background-color: #80d4fb; }
  .message__header {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between; }
  .message__author {
    font-weight: 600; }
  .message__text {
    font-size: 0.9rem;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #dae3f3;
    padding: 3px;
    border-radius: 3px; }
  .message__footer {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between; }
  .message__state {
    margin-left: auto;
    user-select: none;
    opacity: 0; }
  .message__buttons {
    display: none;
    gap: 5px; }
  .message__remove {
    width: 25px;
    height: 25px;
    font-size: 10px;
    padding: 0px;
    opacity: 0.3;
    border: none;
    background-color: transparent; }
    .message__remove:hover {
      opacity: 1;
      cursor: pointer; }
  .message__edit {
    width: 25px;
    height: 25px;
    font-size: 10px;
    padding: 0px;
    opacity: 0.3;
    border: none;
    background-color: transparent; }
    .message__edit:hover {
      opacity: 1;
      cursor: pointer; }

.message_private .message__state {
  opacity: 1; }

.message_private .message__buttons {
  position: absolute;
  right: calc(100%);
  top: 0;
  display: flex;
  flex-direction: column; }

.icon {
  width: 20px;
  height: 20px; }

.text {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #fbfbff;
  padding: 5px;
  border-radius: 10px;
  min-height: 50px;
  max-height: 120px;
  border-top: 1px solid; }
  .text__container {
    flex: 1;
    padding: 3px;
    height: 35px;
    border: 1px solid #fbfbff;
    border-radius: 10px;
    resize: none;
    outline: none;
    min-height: 30px;
    max-height: 100px; }
    .text__container:focus-visible {
      border: none; }
  .text__send {
    background-color: #fbfbff;
    border: none;
    display: flex;
    flex-grow: 0;
    max-height: 40px;
    padding: 7px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    user-select: none; }

.person {
  padding: 10px 15px; }
  .person__status_online {
    color: #44da2e; }
  .person__status_offline {
    color: #da312e; }
